<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>This is the homepage.</h1>
    <h4>Welcome <%= name %></h4>
    <div class="logout">
      <form action="/logout?_method=DELETE" method="POST">
        <button class="btn" type="submit">Logout</button>
      </form>
    </div>
  </body>
</html>
