body{
    background-color:  #090909;
}
h1,h4,label{
    color: #969696;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* .container{
    margin-top: 10px;
    margin-bottom: 50px;
} */

input{
    margin: 10px;
}
button{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: #969696;
    color: #090909;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.logout{
    display: flex  ;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
} 